# Dependencies
node_modules/

# Build
dist/
build/

# Environment
.env
.env.local
.env.*.local
.env.production
.env.development
.env.example

# NestJS specific
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log
npm-debug.log*

# Test
coverage/
.nyc_output/

# Uploads
uploads/

# OS
.DS_Store
Thumbs.db
